<h1><%= @user.username %>'s profile</h1>

<p><strong>Username: </strong><%= @user.username %></p>
<p><strong>First name: </strong><%= @user.first_name %></p>
<p><strong>Last name: </strong><%= @user.last_name %></p>
<p><strong>Age: </strong><%= @user.age %></p>
<p><strong>City: </strong> <%= @user.city %></p>
<p><strong>Bio: </strong> <%= @user.bio %></p>

<h2>Meine Gesichtswürste:</h2>
<hr>
